// Body Layout
html {
  font-size: 62.5%;
}
.alpha-body {
  max-width: 100vw;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  // overflow-y: hidden;
}
* {
  padding: 0;
  margin: 0;
}

.body {
  &__complete {
    width: 400vw;
    display: flex;
    position: relative;
    left: 0vw;
  }
  &__page {
    width: 100vw;
    height: 100vh;
    // +-+- Need to change above after project completion
  }
}
