@import "../utilities/mixins";

.home {
  &__textBody {
    width: 45rem;
    height: 38.2rem;
    text-transform: uppercase;
    color: white;

    position: absolute;
    left: 11.4%;
    top: 43%;
    // transform: translate(-67%, -11.4%);
    font-weight: 200;
    & > h2 {
      @include subheading-1;
      letter-spacing: 0.47rem;
    }
    & > h1 {
      @include heading-1;
      padding: 1vw 0vw;
    }
    & > p {
      @include body-text;
      color: $color-2;
    }
  }

  &__explore {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    @include heading-4;
    position: absolute;
    right: 11.4%;
    bottom: 14.5%;
    width: 27.4rem;
    height: 27.4rem;
    border-radius: 100rem;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

    &::after {
      content: "";
      width: 13.4rem;
      height: 13.4rem;
      position: absolute;
      transform: translate(0%, 0%);
      background-color: rgba(white, 0.3);
      border-radius: 100rem;
      transition: all cubic-bezier(0.71, -0.03, 0.52, 1.35) 0.6s;
    }
    &:hover::after {
      width: 161%;
      height: 161%;
      background-color: rgba(white, 0.3);
    }
  }
}
