@mixin heading-1 {
  font-size: 15rem;
  font-family: "Bellefair";
  font-weight: lighter;
}
@mixin heading-1-mb {
  font-size: 8rem;
  font-family: "Bellefair";
  font-weight: lighter;
}
@mixin heading-2 {
  font-size: 10rem;
  font-family: "Bellefair";
}
@mixin heading-3 {
  font-size: 5.6rem;
  font-family: "Bellefair";
}
@mixin heading-4 {
  font-size: 3.2rem;
  font-family: "Bellefair";
}
@mixin heading-4-mb {
  font-size: 2rem;
  font-family: "Bellefair";
}
@mixin heading-5 {
  font-family: "Barlow Condensed";
  font-size: 2.8rem;
  letter-spacing: 4.75;
}

@mixin subheading-1 {
  font-size: 2rem;
  font-family: "Barlow Condensed";
  font-weight: 200;
}
@mixin subheading-1-mb {
  font-size: 1.6rem;
  font-family: "Barlow Condensed";
  font-weight: 200;
  letter-spacing: 2.7px;
}
@mixin subheading-2 {
  font-size: 1.4rem;
  letter-spacing: 2.7;
  font-family: "Barlow Condensed";
}

@mixin nav-text {
  font-family: "Barlow Condensed";
  font-size: 1.6rem;
  letter-spacing: 2.7;
}
@mixin nav-text-mobile {
  font-family: "Barlow Condensed";
  font-size: 2.3rem;
  letter-spacing: 2.7;
}
@mixin body-text {
  font-family: "Barlow";
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 200;
}

@mixin mediaPhone {
  @media (max-width: 425px) {
    @content;
  }
}
@mixin mediaTab {
  @media (max-width: 768px) {
    @content;
  }
}
